@font-face {
    font-family: 'Salmond';
    src: url('Salmond-Bold.woff2') format('woff2'),
        url('Salmond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-BoldOblique.woff2') format('woff2'),
        url('Salmond-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-NewsOblique.woff2') format('woff2'),
        url('Salmond-NewsOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-MediumOblique.woff2') format('woff2'),
        url('Salmond-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-News.woff2') format('woff2'),
        url('Salmond-News.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-Medium.woff2') format('woff2'),
        url('Salmond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-Light.woff2') format('woff2'),
        url('Salmond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-LightOblique.woff2') format('woff2'),
        url('Salmond-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-SemiBold.woff2') format('woff2'),
        url('Salmond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-Regular.woff2') format('woff2'),
        url('Salmond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-SemiBoldOblique.woff2') format('woff2'),
        url('Salmond-SemiBoldOblique.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salmond';
    src: url('Salmond-Oblique.woff2') format('woff2'),
        url('Salmond-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

